html {
	background-color: #55bb44;
	font-size: 10px;
	font-family: Verdana, sans-serif;
}

h1 {
	margin: 0;
	padding: 20px 0;
	color: #55bb44;
	text-shadow: 3px 3px 1px black;
	font-size: 60px;
	text-align: center;
}

h2 {
	font-size: 20px;
	line-height: 1;
	letter-spacing: 1px;
	text-align: center;
}

p, li {
	font-size: 16px;
	line-height: 2;
	letter-spacing: 1px;
}

body {
	width: 600px;
	margin: 0 auto;
	background-color: #1166ee;
	padding: 0 20px 20px 20px;
}

img {
	display: block;
	margin: 0 auto;
	width: 600px;
}

button {
	border-radius: 5px;
	display: block;
	margin: 0 auto;
}